body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: sans-serif;
}

main {
    margin-left: 23%;
}

.main-header_item-list{
    list-style-type: none;
    background-color: #00695c;
    margin: 0;
    padding: 0;
    width: 20%;
    position: fixed;
    height: 100%;
    overflow: auto
}

.main-header_item{
    margin: 20px 5px
}

.main-header_item a{
    /* text-align: left; */
    font-weight: bold;
    display: block;
    background-color: #f1f1f175;
    color: #0a2351;
    font-weight: 900;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px
}

.main-header_item a.active {
    background-color: #f1f1f175;
    color: #0a2351;
  }

  .main-header_item a:hover{
      background-color: #f1f1f1;
      color: #09a590;
  }

  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 180px
  }


  .main-header_item i{
      padding-right: 10px;
      font-size: 30px;

      
  }

  .top-header{
      background-color: #f1f1f1;
      width: 96%;
      margin: 30px  10px 10px 0;
      padding: 1rem ;
      border-radius: 5px
  }

  .top-header li{
    display: inline;
    text-transform: capitalize;
    color: #0a2351;
    font-size: 17px;
    font-weight: 700
  }

  .top-header li a {
      text-decoration: none;
      color: #00695c;
      font-weight: 800
  }

  .top-header li p{
    margin: 0;
    padding: 0
  }

  .top-header li:last-child{
    float: right;
  }



  .top-header input {
    border: none;
    padding: 10px 10px;
    background-color: #00695c;
    color: #ddd;
    border-radius: 5px;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  
  .card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  .User-item {
    margin-top: 10px;
    width: 30rem;
    max-width: 95%;
    height: 20rem;
}

.dropdown-content {
  display: none;
  margin-left: 10px;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  border-radius: 10px;
  /* margin-left: 4px; */
  color: #00695c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
 

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}




