<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/form.css">
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
 <body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li><a href="#"><img class="logo" src="/ss (1).png" alt=""></a></li>
                <li class="main-header_item"><a class="active" id="login-form" href="/view/login.html" ><i class="fas fa-tachometer-alt"></i>Dashboad</a></li>
                <li class="main-header_item"><a href="/view/loan.html"><i class="fas fa-money-check-alt"></i>Loan</a></li>
                <li class="main-header_item"><a href="/view/userProfile.html"><i class="fas fa-user-alt"></i>Profile</a></li>
                <li class="main-header_item"><a href="#"><i class="fas fa-sync-alt"></i>Update</a></li>
                <li class="main-header_item"><a href="/view/createUser.html"><i class="fas fa-sync-alt"></i>Create User</a></li>
            </ul>
        </nav>
    </header> 
    <main>
        <section>
            <header class="top-header">
                <li>Create new user</li>
                <li><a  id="logout" ><i class="far fa-user-circle"></i>logout</a></li>
            </header>
        </section>
         <section class="grid">
            <div>
                <form action="" class="form-control">
                    <label for="">Full Name</label><br>
                    <input type="text"  id="name"><br>
                    <label for="">Email</label><br>
                    <input type="email"  id="email"><br>
                    <label for="">ID</label><br>
                    <input type="number"  id="id"><br>
                    <label for="">Sex</label>
                    <div>
                        <input type="radio"  value="male" id="gender-male">  male
                        <input type="radio" value="female" id="gender-female"> female <br>
                    </div>
                    <label for="">Position</label><br>
                    <input type="text"  id="position"><br>
                    <label for="">Salary</label><br>
                    <input type="number" id="salary">
                    <input type="button" value="Submit" class="btn" id="btn">
                </form>
            </div>

        </section> 
       
    </main>
    <script src="/src/User/createUser.js"></script>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>