<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="/public/user.css">
    <link rel="stylesheet" href="/public/loan.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li><a href="#"><img class="logo" src="/ss (1).png" alt=""></a></li>
                <li class="main-header_item"><a class="active" href="/view/index.html"><i class="fas fa-tachometer-alt"></i>Dashboad</a></li>
                <li class="main-header_item dropdown"><a href="/view/loan.html"><i class="fas fa-money-check-alt"></i>Loan</a>
                    <div class="dropdown-content">
                        <a href="/view/approveLoan.html">Aproved</a>
                        <a href="/view/declineLoan.html">Declied</a>
                      </div>
                </li>
                <li class="main-header_item"><a href="/view/userProfile.html"><i class="fas fa-user-alt"></i>Profile</a></li>
                <li class="main-header_item"><a href="#"><i class="fas fa-sync-alt"></i>Update</a></li>
            </ul>
        </nav>
    </header>
    <div style="margin-left: 25%; padding: 20px 0; font-weight: 900">
        <h3>List Of Declined Loan</h3>
    </div>
    <main>
        <section id="declined" class="grid">
            
        </section>
    </main>
    <script src="/src/User/declineLoan.js"></script>
</body>
</html>
