<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
 <body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li><a href="#"><img class="logo" src="/ss (1).png" alt=""></a></li>
                <li class="main-header_item"><a class="active" href="/view/index.html"><i class="fas fa-tachometer-alt"></i>Dashboad</a></li>
                <li class="main-header_item"><a href="/view/loan.html"><i class="fas fa-money-check-alt"></i>Loan</a></li>
                <li class="main-header_item"><a href="/view/userProfile.html"><i class="fas fa-user-alt"></i>Profile</a></li>
                <li class="main-header_item"><a href="#"><i class="fas fa-sync-alt"></i>Update</a></li>
            </ul>
        </nav>
    </header> 
    <main>
        <section>
            <header class="top-header">
                <li>What you do want to do</li>
                <li><a href="#"><i class="far fa-user-circle"></i>login</a></li>
            </header>
        </section>
         <section class="grid">
            <article class="card product-item">
                <header class="card__header">

                </header>
                <div class="card__image">
                    <img src="" alt="">
                </div>
                <div class="card__content">
                    <ul>
                        <li>name </li>
                        <li>email</li>
                        <li>position</li>
                        <li>id</li>
                        <li>salary</li>
                    </ul>
                </div>
                
            </article>
            <article class="card product-item">
                <header class="card__header">

                </header>
                <div class="card__image">
                    <img src="" alt="">
                </div>
                <div class="card__content">
                    <ul>
                        <li>name </li>
                        <li>email</li>
                        <li>position</li>
                        <li>id</li>
                        <li>salary</li>
                    </ul>
                </div>               
            </article>
            <article class="card product-item">
                <header class="card__header">

                </header>
                <div class="card__image">
                    <img src="" alt="">
                </div>
                <div class="card__content">
                    <ul>
                        <li>name </li>
                        <li>email</li>
                        <li>position</li>
                        <li>id</li>
                        <li>salary</li>
                    </ul>
                </div>      
            </article>
            <article class="card product-item">
                <header class="card__header">

                </header>
                <div class="card__image">
                    <img src="" alt="">
                </div>
                <div class="card__content">
                    <ul>
                        <li>name </li>
                        <li>email</li>
                        <li>position</li>
                        <li>id</li>
                        <li>salary</li>
                    </ul>
                </div>                 
            </article>   
        </section> 
       
    </main>
</body>
</html>