<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="/public/login.css">
</head>
<body>
    <main>
        <form class="login-box" id="login-form">
            <h1>login</h1>
            <p>email</p>
            <input type="email" name="" id="email">
            <p>password</p>
            <input type="password" name="" id="password">
            <button type="submit" >Submit</button>
        </form>
    </main>
    <script src="/src/User/Admin.js"></script>
</body>
</html>